<html>
    <head>
        <title>Login</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <script src="https://cdn.tailwindcss.com/"></script>
        <script src="https://cdn.socket.io/4.4.0/socket.io.min.js" integrity="sha384-1fOn6VtTq3PWwfsOrk45LnYcGosJwzMHv+Xh/Jx5303FVOXzEnw0EpLv30mtjmlj" crossorigin="anonymous"></script>
    </head>
    <body>
        <div class="m-10 background-gray">
            <div class="text-3xl">Login v1</div>
            <br>
            <form action="/login" method="post">
                <p>Code</p>
                <input class="border-black border-2 rounded-xl p-2" id="code" name="code" type="text"></input>
                <br>
                <p>User ID</p>
                <input class="border-black border-2 rounded-xl p-2" id="pass"  name="user_id" type="number"></input>
                <br>
                <input type="submit" class="bg-black rounded-xl text-white p-2 mt-5" name="submit" id="submit"></input>
                <br>

            </form>
            
            <div id="errormsg" class="text-red-500 text-xl">{{errorMsg}}</div>
        </div>
        <script src="static/dist/login.js"></script>
    </body>
</html>